/* {
  border: 2px solid blue;
}*/

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 64px;
}
h1,
h2,
h3,
body,
p {
  margin: 0;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 30px;
  margin: 5;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: white;
  padding: 32px 64px;
}

.centro {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

main {
  display: flex;
  flex-direction: row;
  padding: 40px 70px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

img {
  height: 250px;
  width: auto;
}

.monte {
  font-size: 24px;
}

.t60 {
  color: rgba(14, 12, 12, 0.6);
}

.dados {
  display: inline-block;
  margin-bottom: 16px;
}

.foto {
  border: 5px solid #14004d;
  border-radius: 100%;
  margin-bottom: -1px;
  margin-right: 54px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
}

.conteudo {
  display: inline-block;
}

.formacao {
  margin-top: 32px;
}

.opcoes {
  margin-left: 50px;
}

.coluna-maior h2 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.mudarCor {
  background-color: orangered;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.habilidade p {
  font-size: 20px;
}

.progresso {
  width: 100%;
  display: flex;
}

.barra {
  margin-top: 8px;
  width: 20%;
  height: 4px;
  background-color: #4200ff;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
}

.projetos p {
  margin-top: 16px;
  margin-bottom: 24px;
}

.projeto {
  width: 500px;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}

.projeto a {
  display: inline-block;
  text-decoration: none;
  background-color: #4200ff;
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

footer {
  background-color: #14004d;
  color: white;
  padding: 57.6px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
